@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.chart {
  width: 600px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

h3 {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}


